@font-face {
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/Skranji.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Bevan';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/Bevan.woff2') format('woff2');
}

@font-face{
  font-family: "NuitoSans";
  src: url("fonts/NunitoSans-ExtraBold.ttf") format("truetype");
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  background-color: #1d2528;
  margin: 0;
  color: #fff;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: linear-gradient(#3e4553, #1d2528);
  /* background-image: linear-gradient(#353535, #1d1f28); */
  min-height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

/* unvisited link */
a:link {
  color: #fff;
}

/* visited link */
a:visited {
  color: #fff;
}

/* mouse over link */
a:hover {
  color: #fff;
}

/* selected link */
a:active {
  color: #fff;
}

#Logo {
  width: 100px;
  height: 100%;
  display: inline;
  margin: 0 auto;
  width: auto;
}

#container {
  height: 100%;
  width: 100%;
}

#columna {
  width: 100%;
  max-width: 720px;
  margin: 0px auto;
  max-height: 720px;
  /* padding: 30px 20px 180px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
}

/* CULETA RESPONSIVE */
/* Extra small devices (phones, 600px and down) */
/* media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* media only screen and (min-width: 1200px) {...}  */

@media only screen and (max-width: 600px) {
    #columna {
      width: 96%;
      max-width: 100%;
      padding: 20px 0xp 20px;
      padding: 0px 10px 0px 8px;
    }
    button.accordion {
      padding: 0px;
    }
    #columna #links-containter {
      padding-right: 6px;
    }
    button .category-span{
      padding: 15px;
      width: 100%;
      max-width: 85%;
    }
    #links-containter .panel {
      align-self: start;
      padding-bottom: 10px;
    }
    a .links {
      padding: 15px;
    }

}

#cabecera {
  -moz-box-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6%;
  width: 100%;
  height: 100%;
  display: flex;
  height: auto;
  margin-bottom: 20px;
  min-width: 300px;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
}

#title {
  color: #fff;
  margin-top: 30px;
  font-size: 2em;
  font-family: 'Bevan', cursive;
  text-shadow: 3px 5px 5px #05162ddb;
}

#cabecera #subtitle {
  color: #afecff;
  font-size: 1.2em;
  font-family: 'Nunito', extra-bold;
  font-weight: bold;
}

#links-containter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}

.links {
  margin-top: 20px;
  display: flex;
  background-color: #609ab1;
  box-shadow: 5px 7px 5px #1114228f;
  font-size: 1.1em;
  justify-content: center;
  padding: 10px;
  max-width: 600px;
  width: 80%;
  border-radius: 4px;
}

.items_button_acordion {
  -moz-box-align: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0px;
  width: 100%;
  display: flex;
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: #69808e;
  box-shadow: 5px 7px 5px #1114228f;
  border-radius: 8px;
  font-size: 1.5em;
  background-color: #4d5153;
}

button>.font-effect-3d-float {
  color: white;
  font-family: Karla;
}

button>.font-effect-3d-float-bold {
  color: white;
  font-size: 20px;
  font-family: Karla;
  font-weight: bolder;
}

.accordion {
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.3s;
  margin-top: 20px;
  padding: 8px;
  min-width: 300px;
}

.accordion:hover {
  color: #000;
  font-weight: bolder;
}

.active, .accordion:hover {
  background-color: #3086a8;
  color: #fff;
}

.panel {
  /* background-image: linear-gradient(#63d0fb4f, #0000,  #0000); */
  background-image: linear-gradient(#45dafc82, #52cfe34a, #837fff1c, #0000);
  display: none;
  flex-direction: column;
  justify-content: start;
  align-self: center;
  flex: 1;
  width: 100%;
  /* margin-bottom: 20px; */
  padding-top: 10px;
  padding-bottom: 40px;
  min-width: 300px;
}

div#columna.columna div.panel a div.item.links.zoom span.item.font-effect-3d-float.text_link {
  text-shadow: none;
  font-weight: bolder;
  flex-direction: row;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}

.zoom:hover {
  box-shadow: 5px 7px 5px #1114228f;
  -webkit-transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
  background-color: #5dc4ec;
}

.zoom:hover span {
  color: #262525;
  text-shadow: 3px 3px 3px #03092b;
  font-size: 1.2em;
  margin-bottom: -3px;
  font-weight: bolder;
}

@-webkit-keyframes blur_over {
  0% {
    -webkit-filter: blur(0px);
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    box-shadow: 5px 7px 5px #0000006e;
  }

  30% {
    -webkit-transform: rotate3d(0, 1, 0, 30deg);
  }

  50% {
    box-shadow: -5px 7px 5px #0000006e;
  }

  80% {
    -webkit-filter: blur(2px);
  }

  100% {
    -webkit-filter: blur(0px);
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    box-shadow: 5px 7px 5px #0000006e;
  }
}

.transformed {
  box-shadow: 5px 7px 5px #0000006e;
  /* -webkit-transition: transform 0.3s ease-out;
  -webkit-transform: rotate3d(0, 1, 0, 0deg);
  transform: rotate3d(0, 1, 0, 0deg); */
}

.transformed:hover {
  /* -webkit-transition: transform 0.3s ease-in;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg); */
  -webkit-animation: blur_over 0.8s;
  /* box-shadow: -5px 7px 5px #0000006e; */
}

.item {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: row;
}

div.item.category-text {
  justify-content: center;
  flex: 100;
  font-weight: bolder;
  font-family: 'Nunito', sans-serif;
  align-items: center;
}

div#columna.columna button.accordion.items_button_acordion {
  justify-content: center;
  flex: 100;
}

.category-icons {
  flex: 1;
  justify-content: left;
}

.category-span {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.mostrar_menos {
  display: none;
  width: 26px;
}

.mostrar_mas {
  width: 26px;
}

.img-miniatura {
  flex: unset;
  width: 26px;
}
